<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="descrption" content="">
    <meta name="author" content="Leszek Janczewski">
    <title>Loin page - DM Dziennik Pracy</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/signin.css">
  </head>
  <body class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="../../resources/images/logo-prm.jpg" alt="" width="92" height="92">
    <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
    <label for="userName" class="sr-only">Nazwa użytkownika</label>
    <input type="text" id="userName" class="form-control" placeholder="Nazwa użytkownika z SWD" required autofocus>
    <label for="inputPassword" class="sr-only">Hasło</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Hasło ustawione przez admina" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
  </form>
  </body>
</html>
